.homeMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.homeCard1{
    height: 70%;
    width: 20%;
    /* background: rgb(255, 255, 255); */
    transition: 0.5s all ease;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    align-items: center;
    border: 2px solid #333333;
    background: url('../../media/Mindfulness.gif');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}


.homeCard1:hover{
    transform: scale(1.02);
    transition: 0.5s all ease;
}

.homeCard2{
    height: 70%;
    width: 20%;
    /* background: rgb(255, 255, 255); */
    transition: 0.5s all ease;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    align-items: center;
    border: 2px solid #333333;
    background: url('../../media/Fitness\ tracker.gif');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}


.homeCard2:hover{
    transform: scale(1.02);
    transition: 0.5s all ease;
}

.homeCard3{
    height: 70%;
    width: 20%;
    /* background: rgb(255, 255, 255); */
    transition: 0.5s all ease;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    align-items: center;
    border: 2px solid #333333;
    background: url('../../media/Skipping\ rope.gif');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}


.homeCard3:hover{
    transform: scale(1.02);
    transition: 0.5s all ease;
}

.homeCard4{
    height: 70%;
    width: 20%;
    /* background: rgb(255, 255, 255); */
    transition: 0.5s all ease;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    align-items: center;
    border: 2px solid #333333;
    background: url('../../media/Eating\ healthy\ food.gif');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}


.homeCard4:hover{
    transform: scale(1.02);
    transition: 0.5s all ease;
}

.cards{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2%;

}

.homeMain h1{
    padding: 5% 0% 0% 0%;
    color: #333333;

}