.dietMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    height: 878px;
    background-color: #fffefc;
}

.content{
    padding-top: 3%;
    display: flex;
    width: 60%;
    gap: 100px;
}

.articles{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.article{
    padding: 7%;
    width: 70%;
    border-bottom: 3px solid #333333;
}

.article:hover{
    transition: 5ms;
    background-color: #333333a9;
    color: white;
    cursor: pointer;
}

.articles #active{
    background-color: #333333;
    color: white;
}

.body{
    display: flex;
    flex-direction: column;
    flex: 2;
}