.navBarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    background-color: aqua;
    position: sticky;
    top: 0;
}

.navLinks{
    display: flex;
    align-items: center;
    background-color: beige;
    width: 80%;
    height: 100%;
    justify-content: space-evenly;
}