.meditateContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.meditateBody{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.meditateCard{
    height: 80%;
    width: 20%;
    transition: 0.5s all ease;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    align-items: center;
    /* justify-content: center; */
    border: 5px solid #333333;
    text-align: center;
    background: url("../../media/Yoga with face masks-bro.svg");
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.meditateCard:hover{
    transform: scale(1.1);
    transition: 0.5s all ease;
    background: url("../../media/Yoga\ with\ face\ masks.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.meditateCardHead{
    color: #333333;
    position: relative;
    /* background-color: #333333; */
    top: 8%;
}

.meditateCardButtonDiv{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* background-color: #333333; */
    position: relative;
    top: 60%;
    width: 100%;
    height: 15%;
}
.meditateCardButton{
    min-width: 45%;
    height: 60%;
    color: #333333;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 10%;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #333333;
    background: #fffefc;
    box-shadow: 0 8px #333333;
}

.meditateCardButton:hover {
    top: 20%;
}
.meditateCardButton:active {
    box-shadow: 0 0 #333333;
    color: #fffefc;
    background-color: #333333;
    top: 25%;
}


.meditateCard2{
    height: 80%;
    width: 20%;
    transition: 0.5s all ease;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    align-items: center;
    /* justify-content: center; */
    border: 5px solid #333333;
    text-align: center;
    background: url("../../media/Mental\ health-bro.svg");
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.meditateCard2:hover{
    transform: scale(1.1);
    transition: 0.5s all ease;
    background: url("../../media/Mental\ health.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}