@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;800&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background: #fffefc;
}

h1, h2, h3, button {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 800;
}

p, li, span {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    color: #333333;
}

button{
    min-width: 130px;
    height: 40px;
    color: #333333;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: sticky;
    top: 75%;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #333333;
    background: #fffefc;
    box-shadow: 0 8px #333333;
}

button:hover {
    top: 76%;
}
button:active {
    box-shadow: 0 0 #333333;
    color: #fffefc;
    background-color: #333333;
    top: 77%;
}

.App{
    display: flex;
    flex-direction: column;
}